*{
    margin: 0px;
    padding: 0px;
}

body{
  background: #f8f8ff;
}

#title{
  position: absolute;
  top: 36%;
  right: 36%;
  font-size: 123px;
  line-height: 0;
  color: #FFFFFF;
  text-shadow: 0 0 2px #000000;
}

table{
  position: absolute;
  top: 45%;
  right: 40%;
}

table td{
  color: #000;
  padding: 20px;
}

table td.info{
  padding: 10px;
  text-align: center;
}

input.text{
  text-align: center;
  width: 400px;
  height: 25px;
  font-size: 20px;
}

input#button{
  margin-top: 20px;
  font-size: 20px;
}

a{
  color: #f39800;
  text-decoration: none;
}

a:hover{
  color: #00bfff;
  text-decoration: underline;
}

a:active{
  color: #bbdbf3;
}

.background {
  width: 100%;
  height: 100%;
  background: lighten(#f0f4c3, 10%);
  position: fixed;
  overflow: hidden;
}

.wave {
  opacity: .4;
  position: absolute;
  top: 0%;
  left: 75%;
  background: #0af;
  width: 100%;
  height: 100vh;
  margin-left: -25%;
  margin-top: -25%;
  transform-origin: 50% 48%;
  border-radius: 59%;
  animation: drift 4000ms infinite linear;
}

.wave.-two {
  animation: drift 5000ms infinite linear;
  opacity: .1;
  background: yellow;
}

.wave.-three {
  animation: drift 6000ms infinite linear;
  background: rgb(124, 214, 210);
}

.wave.-four {
  animation: drift 7000ms infinite linear;
  background: rgb(96, 212, 183);
}

.wave.-five {
  animation: drift 8000ms infinite linear;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
}

.concept {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 100px;
  text-align: right;
  color: white;
  letter-spacing: .4em;
  font-size: 30px;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}
@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}
