*{
  margin: 0;
  padding: 0;
}

body{
  text-align: center;
  margin-bottom: 100px;
}

ul#nav{
  width: 100%;
  padding: 0px 10px 0px 10px;
  font-size: 1.6rem;
  text-align: center;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

#nav {
  list-style: none;
  overflow: hidden;
}
 
#nav li {
  width: 150px;
  height: 70px;
  text-align: center;
  background-color: #333;
  float: right;
  line-height: 50px;
  margin-right: 2px;
}
 
#nav li a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 10px;
  padding: 20px;
}

table#cal{
  margin: 150px auto auto auto;
}

.tuki{
    display: inline-block;
    margin: 0 20px 0 20px;
}

h1 {
    font-size: 30px;
}

h1.title{
  font-size: 25px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    border: 1px solid #ddd;
    padding: 30px 50px;
    text-align: center;
}

td:first-child {
    color: red;
}

td:last-child {
    color: royalblue;
}

td.is-disabled {
    color: #ccc;
}

input{
  text-align: center;
  font-size: 15px;
}

button{
  padding: 5px 10px 5px 10px;
  font-size: 15px;
}

.modal-wrapper {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 60px 10px;
  text-align: center
}

.modal-wrapper:not(:target) {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}

.modal-wrapper:target {
  opacity: 1;
  visibility: visible;
  transition: opacity .4s, visibility .4s;
}

.modal-wrapper::after {
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  vertical-align: middle;
  content: ""
}

.modal-wrapper .modal-window {
  box-sizing: border-box;
  display: inline-block;
  z-index: 20;
  position: relative;
  width: 70%;
  max-width: 600px;
  padding: 30px 30px 15px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, .6);
  vertical-align: middle
}

.modal-wrapper .modal-window .modal-content {
  max-height: 80vh;
  overflow-y: auto;
}

.modal-overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .8)
}

.modal-wrapper .modal-close {
  z-index: 20;
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  color: #95979c !important;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  text-indent: 0
}

.modal-wrapper .modal-close:hover {
  color: #2b2e38 !important
}